.DS_Store
.dart_tool/
.idea
*.iml
.packages
.pub/
packages
pubspec.lock
build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
.flutter-plugins-dependencies
flutter_export_environment.sh
coverage
.last_build_id
.flutter-plugins
example/test/driver_test/screenshots
