version: 2
jobs:
  build:
    docker:
      - image: cirrusci/flutter
    steps:
      - checkout
      - run: flutter doctor
      - run: dartfmt -n --set-exit-if-changed ./lib ./test ./example
      - run: flutter test --coverage --coverage-path=lcov.info
      - run: curl -s https://codecov.io/bash
